{% extends "base.html" %}

{% block title %}Processed Files{% endblock %}

{% block header %}
    Processed Files
{% endblock %}

{% block content %}
    <div class="row">
        {% for file in processed_files %}
        <div class="col-md-4">
            <div class="file-card">
                <div class="file-name">
                    <a href="{{ file }}" target="_blank">{{ file }}</a>
                </div>
                <div class="text-center">
                    <img src="{{ file }}" alt="File Thumbnail">
                </div>
                <div class="d-flex justify-content-between">
                    <a href="{{ file }}" class="btn btn-info btn-sm" target="_blank">View</a>
                    <a href="/delete/{{ file }}" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
